alabaster==0.7.9
argh==0.26.2
Babel==2.3.4
backports-abc==0.5
certifi==2017.1.23
click==6.6
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.5
keen==0.3.26
livereload==2.5.1
MarkupSafe==0.23
pathtools==0.1.2
port-for==0.3.1
pycryptodome==3.4.3
Pygments==2.2.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9
sphinxcontrib-phpdomain==0.2.2
tornado==4.4.2
unicodecsv==0.14.1
virtualenv==15.1.0
wakadump==2.0.6
watchdog==0.8.3
recommonmark
